[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jupyter-book = "*" 
pexpect = "*" # Necessary for jupyter-book on linux
pandas = "*"
docutils="0.17.1" # to fix bibliograph
plotly = "*"
matplotlib = "*"
ipympl = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-eradicate = "*"
flake8-print = "*"
jupyter-book = "*"
mypy = "*"
mypy-extensions = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
# sphinx-autoapi = "*"
sphinxcontrib-mermaid = "*"
wheel = "*"

[requires]
python_version = "3.11"
